<div class="about">
  <div class="wrap"> 
    <div class="about-head">
      <h1>About us</h1>
    </div>
    <div class="about-time-line">
    <li>
      <div class="cbp_tmicon img1"> </div>
      <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
        <h2>July 2010 Our Humble Beginnings</h2>
        <p>Proin iaculis purus consequat sem cure  digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
      </div>
    </li>
    <li>
      <div class="cbp_tmicon1 img2"> </div>
      <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
        <h2>January 2011 Facing Startup Battles </h2>
        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
      </div>
    </li><br />
    <li>
      <div class="cbp_tmicon2 img3"> </div>
      <div class="cbp_tmlabel wow fadeInLeft" data-wow-delay="0.4s">
        <h2>December 2012 Enter The Dark Days </h2>
        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni.</p>
      </div>
    </li>
    <li>
      <div class="cbp_tmicon3 img4"> </div>
      <div class="cbp_tmlabel cbp_tmlabel1 wow fadeInRight" data-wow-delay="0.4s">
        <h2>January 2013Our Triumph </h2>
        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean.</p>
      </div>
    </li>
    <li>
      <div class="cbp_tmicon4 img5"> </div>
    </li>
  </div>
  </div>
</div>