<!-- portfolio -->
<div id="portfolio" class="portfolio">
  <div class="container">
    <div class="service-head text-center">
      <h2>Portfolio</h2>
      <span> </span>
        <!-- <p>We utilize a very simple process to help solve very complex problems. </p>
        <div class="portfolio-top-left-grids">
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon1"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Sail Away Your Worries</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon2"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>All-star support team</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon3"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>fully Integrated service</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
  
    <!-- portfolio-works -->
    <div class="portfolio-works">
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_wistia.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Wistia</h4>
          <p>This is a work in progress that will integrate <a href="wistia.com">wistia.com</a> with Shopify. Video marketing is booming and Wistia is not only a great company with fantastic support but their heatmap analytics are amazing!</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_kissmetrics.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>KISSmetrics</h4>
          <p>While <a href="https://google.com/analytics">Google Analytics</a> tells you <em>what</em> is going on on your site, <a href="https://kissmetrics.com">KISSmetrics</a> tells you <em>who</em> is doing what on your site. With this Shopify integration, you get fully integrated with KISSmetrics by simply adding your API Key!<br /><a href="https://apps.shopify.com/kissmetrics" target="_blank">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_crazyegg.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>CrazyEgg</h4>
          <p>Knowing where visitors to a webpage are looking and interacting provides a great deal of information about why a certain page is converting visitors into customers or not. <a href="https://crazyegg.com">CrazyEgg</a> builds heatmaps that show where visitors are interacting.<br /><a href="https://apps.shopify.com/crazyegg" target="_blank">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_facadify.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Facadify</h4>
          <p>One of the most critical and difficult things for a website or shop owner to do is A/B Test for higher conversion rates. This Shopify integration enables the use of <a href="https://support.google.com/analytics/answer/1745147">Google Content Experiments</a> on a Shopify store.<br /><a href="https://apps.shopify.com/facadify">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_lemme-eng.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Lemme Engineering</h4>
          <p>This custom Content Management System allows the customer to maintain the content of their site with a simple web interface.<br /><a href="http://lemme-eng.com">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_your_project.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Your Project Here!</h4>
          <p>We would love for you to reach out and let us know how we can help your company!<br /><a href="#contact">Contact us now!</a>.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- portfolio-works -->
  </div>
</div>
<!-- portfolio -->