    <!-- portfolio -->
<div id="portfolio" class="portfolio">
  <div class="container">
    <div class="service-head text-center">
      <h2>Portfolio</h2>
      <span> </span>
        <!-- <p>We utilize a very simple process to help solve very complex problems. </p>
        <div class="portfolio-top-left-grids">
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon1"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>Sail Away Your Worries</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon2"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>All-star support team</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="portfolio-top-left-grid">
            <div class="portfolio-top-left-grid-left">
              <span class="p-icon3"> </span>
            </div>
            <div class="portfolio-top-left-grid-right">
              <h5>fully Integrated service</h5>
              <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>

    <!-- portfolio-works -->
    <div class="portfolio-works">
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_kissmetrics.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>KISSmetrics</h4>
          <p>While <a href="https://google.com/analytics">Google Analytics</a> tells you <em>what</em> is going on on your site, <a href="https://kissmetrics.com">KISSmetrics</a> tells you <em>who</em> is doing what on your site. With this <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> integration, you get fully integrated with KISSmetrics by simply adding your API Key!<br /><a href="http://blog.fivethrive.com/post/128309192127/integrate-kissmetrics-on-shopify">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_navilytics.png" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Navilytics</h4>
          <p><a href="https://www.navilytics.com/?r=1476">Navilytics</a> is a website analytic tool that tracks all visitor actions, allowing you to then playback each visitor's browsing session, view mouse movement and click heatmaps, scrollmaps, and much more. Simply add your account infor and this <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> integration has you recording your visitors immediately!<br /><a href="https://apps.shopify.com/navilytics" target="_blank">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_crazyegg.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>CrazyEgg</h4>
          <p>Knowing where visitors to your <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> store are looking and interacting provides a great deal of information about why a certain page is converting visitors into customers or not. <a href="https://crazyegg.com">CrazyEgg</a> builds heatmaps that show where visitors are interacting.<br /><a href="https://apps.shopify.com/crazyegg" target="_blank">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_gce.png" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Google Experiments</h4>
          <p>This is a work in Progress. One of the hardest things to do on a <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> store is A/B Testing. This <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> app makes it simple to use <a href="https://google.com/analytics">Google Content Experiments</a> on your storefront. Eliminate the guesswork from website design. Test variations of your pages and learn which designs bring you the most conversions.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_lemme-eng.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Lemme Engineering</h4>
          <p>This custom Content Management System allows the customer to maintain the content of their site with a simple web interface.<br /><a href="http://lemme-eng.com">Find out more</a>.</p>
        </div>
      </div>
      <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_your_project.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Your Project Here!</h4>
          <p>We would love for you to reach out and let us know how we can help your company!<br /><a href="#contact" class='scroll'>Contact us now!</a>.</p>
        </div>
      </div>
<!--       <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_facadify.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Facadify</h4>
          <p>One of the most critical and difficult things for a website or shop owner to do is A/B Test for higher conversion rates. This <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> integration enables the use of <a href="https://support.google.com/analytics/answer/1745147">Google Content Experiments</a> on a <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a> store.<br /><a href="https://apps.shopify.com/facadify">Find out more</a>.</p>
        </div>
      </div> -->
      <!-- <div class="col-md-4 portfolio-work-grid wow bounceIn" data-wow-delay="0.4s">
        <div class="portfolio-work-grid-pic">
          <img src="/assets/images/portfolio_shopify_wistia.jpg" title="name" />
        </div>
        <div class="portfolio-work-grid-caption">
          <h4>Wistia</h4>
          <p>This is a work in progress that will integrate <a href="wistia.com">wistia.com</a> with <a href='http://www.shopify.com/?ref=fivethrive' target='_blank'>Shopify</a>. Video marketing is booming and Wistia is not only a great company with fantastic support but their heatmap analytics are amazing!</p>
        </div>
       --></div>
      <div class="clearfix"> </div>
    </div>
    <!-- portfolio-works -->
  </div>
</div>
<!-- portfolio -->