<!-- Other process -->
<div id="process" class="process">
  <div class="process-grids">
    <div class="col-md-8 process-left-grid">
      <div class="process-head">
        <h3>Our Process</h3>
        <p>We specialize in listening to our customers explain the problems they are experiencing in order to offer the best possible solution and execute on the plan we agree will achieve the desired outcome.</p>
      </div>
      <div class="process-left-inner-grids">
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <i class="fa fa-pencil fa-2x"> </i>
          </div>
          <div class="e-left-inner-grid-right">
            <h4>Listen</h4>
            <p>We do a great deal of listening to let you fully explain the nuances of the problem you need to solve.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <i class="fa fa-question fa-2x"> </i>
          </div>
          <div class="e-left-inner-grid-right">
            <h4>Understand</h4>
            <p>We ask a litany of questions in order to help us put ourselves in your shoes so that our perspective lines up with your experiences.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <i class="fa fa-language fa-2x"> </i>
          </div>
          <div class="e-left-inner-grid-right">
            <h4>Translate</h4>
            <p>We take our new understanding of your problem and translate it into the actionable steps necessary to solve your problem.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="e-left-inner-grid">
          <div class="e-left-inner-grid-left">
            <i class="fa fa-wrench fa-2x"> </i>
          </div>
          <div class="e-left-inner-grid-right">
            <h4>Execute</h4>
            <p>We execute the project plan while keeping an open line of communication to ensure everyone is on the same page.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 process-right-grid">
      
    </div>
    <div class="clearfix"> </div> 
  </div>
</div>
<!-- Other process -->