<!-- services -->
<div id="services" class="services">
  <div class="container">
    <div class="service-head text-center">
      <h2>Core Services</h2>
      <span> </span>
    </div>
    <!-- services-grids -->
    <div class="services-grids text-center">
      <div class="col-md-4">
        <span class="fa fa-gears fa-3x"> </span>
        <h3><a href="#contact" class="text-primary scroll">Web Apps</a></h3>
        <p>That solve your complex business problems with modern web technologies.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-shopping-cart fa-3x"> </i>
        <h3><a href="#contact" class="text-primary scroll">Shopify Apps</a></h3>
        <p>That extend Shopify or integrate with third party products and services.</p>
      </div>
      <div class="col-md-4">
          <i class="fa fa-phone fa-3x"></i>
          <h3><a href="#contact" class="text-primary scroll">Consultations</a></h3>
          <p>That clarify technical questions, project quotes, or product-market fit analysis.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- services-grids -->
  </div>
</div>
<!-- services -->