<div id="team" class="team-members">
  <div class="wrap"> 
    <div class="tm-head">
      <h3>our amazing team</h3>
      <p>Proin iaculis purus consequat sem cure.</p>
    </div>
    <div class="tm-head-grids">
      <div class="tm-head-grid wow fadeInLeft" data-wow-delay="0.4s">
        <img src="/assets/images/team-member1.jpg" alt="">
        <h4>Kimberly Thompson</h4>
        <h5>Marketer</h5>
        <ul class="top-social-icons">
          <li><a class="twitter" href="#"> </a></li>
          <li><a class="facebook" href="#"> </a></li>
          <li><a class="pin" href="#"> </a></li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInUp" data-wow-delay="0.4s">
        <img src="/assets/images/team-member2.jpg" alt="">
        <h4>Rico Massimo</h4>
        <h5>Coder</h5>
        <ul class="top-social-icons">
          <li><a class="twitter" href="#"> </a></li>
          <li><a class="facebook" href="#"> </a></li>
          <li><a class="pin" href="#"> </a></li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="tm-head-grid wow fadeInRight" data-wow-delay="0.4s">
        <img src="/assets/images/team-member3.jpg" alt="">
        <h4>Uku Mason</h4>
        <h5>Graphic Designer</h5>
        <ul class="top-social-icons">
          <li><a class="twitter" href="#"> </a></li>
          <li><a class="facebook" href="#"> </a></li>
          <li><a class="pin" href="#"> </a></li>
          <div class="clear"> </div>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <p class="team-info">Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt proin iaculis.</p>
  </div>
</div>