<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="top-header bg">
      <div class="container">
        {% include main_nav.html %}
        <div class="banner-info text-center">
        <h1>Five Thrive</h1><br />
        <span> </span>
        <p>Building useful web applications<br />to solve real problems.</p>
      </div>
      </div>
    </header>

    <div class="page-content">
      <div class="wrap">
        {{ content }}

        <script type="text/javascript">
          $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
              containerHoverID: 'toTopHover', // fading element hover id
              scrollSpeed: 1200,
              easingType: 'linear' 
            };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
          });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
      </div>
    </div>

    {% include contact.html %}

  </body>
</html>