<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <header class="top-header bg">
      <div class="container">
        {% include main_nav.html %}
        {% if page.path == "index.html" %}
          <div class="banner-info text-center">
            <h1>Five Thrive</h1><br />
            <span> </span>
            <p>Building useful web applications<br />to solve business problems.</p>
          </div>
        {% endif %}
      </div>
    </header>

    {{ content }}

    {% include contact.html %}

    <!-- Kissmetrics tracking snippet -->
    <script type="text/javascript">var _kmq = _kmq || [];
    var _kmk = _kmk || 'b0729fa5611558cd18f247eac0162ff29af8da63';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');

    $(document).on('click', ".sumome-scrollbox-button", function(){
      email = $("#scrollbox_email_address").val()
      _kmq.push(['identify', email]);
      console.log(email)
    });
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-10763510-3', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
  </body>
</html>